In [2]:
5

5

In [3]:
0b111

7

In [4]:
0b11 + 7

10

In [5]:
0o11

9

In [6]:
0x10

16

In [7]:
type(10)

int

In [8]:
type(0b11)

int

In [9]:
type(0o70)

int

In [10]:
0x70

112

In [11]:
0o70

56

In [12]:
type(0x10)

int

In [13]:
type(4)

int

In [14]:
type(4.)

float

In [15]:
4e2

400.0

In [16]:
4e-2

0.04

In [17]:
type(.4)

float

In [18]:
type(4.)

float

In [19]:
type(4)

int

In [20]:
1.79e308

1.79e+308

In [21]:
1.79000000000000000000000000000001e308

1.79e+308

In [22]:
1.8e308

inf

In [23]:
1.791e308

1.791e+308

In [24]:
1.799e308

inf

In [25]:
1.795e308

1.795e+308

In [26]:
1.797e308

1.797e+308

In [27]:
1.798e308

inf

In [28]:
1.7975e308

1.7975e+308

In [29]:
1.7979e308

inf

In [30]:
1.7977e308

inf

In [31]:
1.7976e308

1.7976e+308

In [32]:
1.79765e308

1.79765e+308

In [33]:
5e-324

5e-324

In [34]:
5.1e-324

5e-324

In [35]:
6e-324

5e-324

In [36]:
6e-324

5e-324

In [37]:
1.1 + 2.2 == 3.3

False

In [38]:
1.1 + 2.2

3.3000000000000003

In [39]:
1 + 3j

(1+3j)

In [40]:
type(1-2j)

complex

In [41]:
type(1-1j)

complex

In [42]:
type("Hello")

str

In [43]:
type('Hi')

str

In [44]:
type("Sepideh Gholian")

str

In [45]:
"Ali's girl friend"

"Ali's girl friend"

In [46]:
'Ali\'s girl'

"Ali's girl"

In [47]:
n = 300

In [48]:
Kian = pesare_rangin_kaman = "kian Pirfalak"

In [49]:
type(Kian)

str

In [50]:
name = "nika"
age = 16
_last_name = "Shahkarami"

In [51]:
Camel_Case = "numberOfGraduateStudent" # not advised in Python
Pascal_Case = "NumberOfGraduateStudents" # For class names
Snake_Case = "number_of_graduate_students" # for variables and functions' names

In [52]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [53]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [54]:
t = float("1.2")

In [55]:
t

1.2

In [56]:
x = 1.2

In [57]:
s = '1.2'

In [58]:
type(s)

str

In [59]:
type(123 + 1.23)

float

In [60]:
int_number = 123
float_number = 1.23

In [61]:
new_number = int_number + float_number

In [62]:
type(new_number)

float

In [63]:
"123" + 1

TypeError: can only concatenate str (not "int") to str

In [ ]:
int("12")

In [12]:
str_number = '1.2'
int_number = 1234

In [ ]:
int_number + 1.2

In [ ]:
float('1.2')

In [ ]:
int('1.2')

In [ ]:
str(12.3)

In [ ]:
int(1.9999)

In [ ]:
3 and 5

In [ ]:
3 or 5

In [ ]:
3 & 5

In [ ]:
7 & 15

In [ ]:
7 << 5

In [ ]:
1 << 3

In [ ]:
3 << 1

In [ ]:
1 >> 3

In [ ]:
(42.).bit_lenght()

In [ ]:
[ord(character for character in "Euro")]

In [ ]:
~1

In [ ]:
~2

In [ ]:
~10

In [ ]:
~200

In [ ]:
1^6

In [ ]:
[ord(char) for char in "Mahsa"]

In [4]:
Unicode = [ord(char) for char in "Alireza"]

In [ ]:
0b1010

In [ ]:
0x1ab

In [ ]:
for num in Unicode:
    print(bin(num))

In [ ]:
bin(8364)

In [ ]:
(8364).bit_length()

In [ ]:
'a' in 'abc'

In [ ]:
'x' in 'xyz'

In [ ]:
5 and 3

In [ ]:
5 or 3

In [ ]:
0 or 3

In [ ]:
'' or 3

In [ ]:
"" and 3

In [ ]:
'' and '1'

In [ ]:
bool(0 and 1)

In [ ]:
help("keywords")

In [3]:
x = 2

In [ ]:
dir(x)

In [18]:
a = 'Hello World!'

In [19]:
b = 'Hello World!'

In [ ]:
id(a) == id(b)

In [ ]:
a == b

In [ ]:
a is b

In [ ]:
id(a) == id(b)

In [ ]:
id(a)

In [ ]:
id(b)

In [1]:
a = "Hello world!"
b = a

In [ ]:
a == b

In [ ]:
a is b

In [4]:
a = 10
b = a
c = b

In [ ]:
a is b

In [ ]:
a is c

In [ ]:
b is c

In [10]:
a = 257
b = 257

In [ ]:
a is b

In [12]:
a = -6
b = -6

In [ ]:
a is b

In [14]:
a = -5
b = -5

In [ ]:
a is b

In [16]:
a = 256
b = 256

In [ ]:
a is b

In [21]:
str = "Kian the "
str_1 = "Kian the "

In [ ]:
str == str_1

In [ ]:
str is str_1

In [1]:
name = "Mino Majidi"

In [6]:
my_str = """Minoo\
shdh
sds


skshdo"""

In [ ]:
my_str

In [1]:
x = "Python Developer"

In [ ]:
print(id(x))

In [ ]:
print(id("Python Developer"))

In [ ]:
x = 1000
y = 1000
print(x is y)

In [5]:
first_name = "Niloofar"
last_name = "Hamedi"

In [6]:
full_name = first_name + " " + last_name

In [ ]:
full_name

In [ ]:
first_name * 0

In [13]:
name = "Elahe Mohammadi"

In [ ]:
"ela" in name

In [ ]:
"Ela" in name

In [ ]:
'E' not in name

In [ ]:
len(name)

In [ ]:
name[0]

In [ ]:
name[1]

In [ ]:
name[2]

In [ ]:
name[14]

In [ ]:
name[15]

In [ ]:
"hey Same's house is at \n the end of this forest"

In [ ]:
bool(-1)

In [ ]:
"\N{Rightwards arrow}"

In [ ]:
x.

In [82]:
text = "KiAn PiRfAlAk"

In [ ]:
text.upper()

In [ ]:
text.lower()

In [ ]:
text.capitalize()

In [ ]:
text.title()

In [95]:
text = "123a"

In [ ]:
text.isalpha()

In [ ]:
text.isdigit()

In [ ]:
text.find('4')

In [ ]:
text.find("23")

In [112]:
Name = "Himonalek"

In [ ]:
Name[::-1]

In [115]:
my_str = 'کباب ترش'

In [ ]:
my_str[::-1]

In [ ]:
my_str.replace("ش", "کی")

In [118]:
my_str = my_str[::-1]

In [ ]:
my_str

In [67]:
text = "  Hello  \n   "

In [ ]:
text.strip()

In [ ]:
text

In [74]:
text = "Kian,Ali,Reza"

In [ ]:
text.split(",")

In [ ]:
text

In [79]:
str = "changing CASE"

In [ ]:
str.capitalize()

In [83]:
name = input("Enter Your Name")

In [ ]:
name

In [92]:
age = int(input("Enter your age: "))

In [ ]:
age

In [ ]:
"Ali is {} years old; however, {} girl frind is 22.".format("40", "Ali's")

In [4]:
greeting = "{intro_msg} {name}, I hope you are doing well. {final_msg}"

In [ ]:
greeting.format(name = "Alireza", intro_msg = "Hi", final_msg = "Wish you have a wonderfull day!")

In [1]:
email = """Hello
Thank you for your interest in our """

In [3]:
name = "Alireza"
age = 40

In [ ]:
print(f" My name is {name} and I am {age} years old.")

In [24]:
List = [1, 2, 3, 4]

In [ ]:
id(List)

In [ ]:
id(List[0])

In [28]:
List[0] = 999

In [ ]:
id(List)

In [ ]:
id(List[0])

In [31]:
Tuple = (1, 2, 3, 4)

In [ ]:
Tuple[0] = 999

In [13]:
Set = {1, 2, 3, 4}

In [ ]:
Set[0]

In [34]:
Dict = {"Ali": 40, 
        "Mahsa": 31,
        "Siavash": 28}

In [ ]:
Dict["Ali"]

In [36]:
Dict = {1: 40, 
        2: 31,
        3: 28}

In [ ]:
Dict[1]

In [38]:
numbers = [1, 2, 3, 4]

In [ ]:
numbers

In [42]:
My_list = [1, 2, 3, "Python", "Ali", [1, 2, 3]]

In [ ]:
type(My_list)

In [44]:
my_list = list()

In [ ]:
my_list

In [46]:
my_list = list("Ali")

In [ ]:
my_list

In [124]:
my_list = list((1, 2, 3, 4, [1, 2, 3]))

In [125]:
my_list

[1, 2, 3, 4, [1, 2, 3]]

In [127]:
type(range(10))

range

In [128]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [129]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

In [130]:
new_list = list(range(3, 40, 5))

In [131]:
new_list

[3, 8, 13, 18, 23, 28, 33, 38]

In [132]:
len(new_list)

8

In [133]:
max(['a', 'b', 'c'])

'c'

In [134]:
min(['a', 'b', 'c'])

'a'

In [135]:
list(range(5))

[0, 1, 2, 3, 4]

In [136]:
x = [0, 1, 2, 3, 4, 5]

In [137]:
del x[1:3]

In [138]:
x

[0, 3, 4, 5]

In [82]:
my_fav_list = [1, 2, 3, "Alireza", "Mahsa", "Mahshid"]

In [83]:
my_fav_list.append(-10)

In [67]:
my_fav_list

[1, 2, 3, 'Alireza', 'Mahsa', 'Mahshid', -10]

In [69]:
my_fav_list.remove(-10)

In [72]:
my_fav_list

[1, 2, 3, 'Alireza', 'Mahsa', 'Mahshid', -1]

In [71]:
my_fav_list.append(-1)

In [73]:
my_fav_list.pop()

-1

In [74]:
my_fav_list

[1, 2, 3, 'Alireza', 'Mahsa', 'Mahshid']

In [75]:
my_fav_list.pop(5)

'Mahshid'

In [76]:
my_fav_list

[1, 2, 3, 'Alireza', 'Mahsa']

In [77]:
my_fav_list.clear()

In [78]:
my_fav_list

[]

In [79]:
dir(my_fav_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [85]:
my_fav_list

[1, 2, 3, 'Alireza', 'Mahsa', 'Mahshid', -10]

In [87]:
del my_fav_list[3:6]

In [88]:
my_fav_list

[1, 2, 3]

In [89]:
my_fav_list.extend([-10, 3, 5, 7, -1, 0])

In [90]:
my_fav_list

[1, 2, 3, -10, 3, 5, 7, -1, 0]

In [91]:
my_fav_list.sort()

In [92]:
my_fav_list

[-10, -1, 0, 1, 2, 3, 3, 5, 7]

In [93]:
my_fav_list.reverse()

In [94]:
my_fav_list

[7, 5, 3, 3, 2, 1, 0, -1, -10]

In [95]:
dir(my_fav_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [97]:
my_fav_list.index(-10)

8

In [109]:
items = ["chips", "biscuit", "cake", "juice"]

In [110]:
snack = items[1:-1]

In [112]:
snack

['biscuit', 'cake']

In [117]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

In [118]:
l1 + l2

[1, 2, 3, 4, 5, 6]

In [119]:
l1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [120]:
l1

[1, 2, 3]

In [122]:
l1.index(1)

0

In [124]:
l1.count("ALI")

0

In [125]:
l1[::-1]

[3, 2, 1]

In [127]:
l1.reverse()

In [128]:
l1

[3, 2, 1]

In [131]:
list(reversed(l1))

[1, 2, 3]

In [130]:
l1

[3, 2, 1]

In [132]:
t1 = (1, 2, 3)

In [137]:
set(reversed(t1))

{1, 2, 3}

In [134]:
t1

(1, 2, 3)

In [138]:
set1 = {1, 2, 3, 4, 5}

In [143]:
a = [1, 2, 3]

In [144]:
id(a)

140342730978496

In [145]:
a += [4, 5]

In [146]:
id(a)

140342730978496

In [149]:
a += [4, 5]

In [150]:
a

[1, 2, 3, 4, 5, 4, 5]

In [153]:
a.pop()

5

In [155]:
a.pop()

5

In [156]:
a

[1, 2, 3, 4]

In [158]:
[3] + [4, 5]

[3, 4, 5]

In [1]:
my_tuple = (1, 2, 3)

In [2]:
my_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [3]:
ir_tuple = ('Jannati', 'Akhoond')

In [4]:
ir_tuple[0] = "Alireza"

TypeError: 'tuple' object does not support item assignment

In [5]:
empty_tuple = ()

In [6]:
type (empty_tuple)

tuple

In [7]:
t = ('Ali')

In [8]:
type(t)

str

In [9]:
t = tuple('Ali')

In [10]:
type(t)

tuple

In [11]:
t.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [12]:
del t

In [13]:
t

NameError: name 't' is not defined

In [14]:
t = ('Ali', )

In [15]:
type(t)

tuple

In [19]:
t = (1, (2, 3, 4), [1, 2], 'Ali')

In [20]:
t

(1, (2, 3, 4), [1, 2], 'Ali')

In [21]:
t[2][0] = 99

In [22]:
t

(1, (2, 3, 4), [99, 2], 'Ali')

In [24]:
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
my_tuple = (1, 8, -99, -3)

In [27]:
tuple(sorted(my_tuple))

(-99, -3, 1, 8)

In [28]:
my_tuple

(1, 8, -99, -3)

In [32]:
tuple(reversed(my_tuple))

(-3, -99, 8, 1)

In [2]:
x = [1, 2, 3]

In [3]:
x[0]

1

In [4]:
nika = ['Nika', 16, 'Iran']

In [7]:
nika[2]

'Iran'

In [14]:
nika = {
    'name': 'Nika',
    'age': 16,
    'country': 'Iran'
}

In [15]:
nika[0]

'Nika'

In [16]:
nika['age'] = 17

In [17]:
nika

{0: 'Nika', 'age': 17, 'country': 'Iran'}

In [20]:
nika['city'] = 'Tehran'

In [21]:
nika

{0: 'Nika', 'age': 17, 'country': 'Iran', 'city': 'Tehran'}

In [23]:
del nika['city']

In [24]:
nika

{0: 'Nika', 'age': 17, 'country': 'Iran'}

In [25]:
my_dict = {}

In [26]:
type(my_dict)

dict

In [30]:
my_set = set({})

In [31]:
type(my_set)

set

In [38]:
grades = {
    'Ali': dict(),
    'Mahsa': 19.75,
    'Sia': 12
}

In [36]:
grades["Ali"]

dict

In [63]:
x = dict(
    (
        ['Nika', 16],
        ['Ali', 40],
        ['Mahsa', 31],
    )
)

In [69]:
del x["Nika"]

In [64]:
x

{'Nika': 16, 'Ali': 40, 'Mahsa': 31}

In [65]:
type(x)

dict

In [66]:
x["Nika"]

16

In [67]:
x["Sia"]

KeyError: 'Sia'

In [69]:
print(x.get("Sia"))

None

In [65]:
info = dict(Ali=20, Mahsa=19, Sia=14)

In [66]:
info

{'Ali': 20, 'Mahsa': 19, 'Sia': 14}

In [67]:
print(info.get("KP", 9))

9

In [68]:
info

{'Ali': 20, 'Mahsa': 19, 'Sia': 14}

In [69]:
info

{'Ali': 20, 'Mahsa': 19, 'Sia': 14}

In [70]:
type(info.keys())

dict_keys

In [71]:
for key in info.keys():
    print(key)

Ali
Mahsa
Sia

In [72]:
info.values()

dict_values([20, 19, 14])

In [73]:
info.items()

dict_items([('Ali', 20), ('Mahsa', 19), ('Sia', 14)])

In [74]:
list(info.items())

[('Ali', 20), ('Mahsa', 19), ('Sia', 14)]

In [75]:
info

{'Ali': 20, 'Mahsa': 19, 'Sia': 14}

In [76]:
for key, value in info.items():
    print(key, value)

Ali 20
Mahsa 19
Sia 14

In [77]:
info = {}

In [78]:
type(info)

dict

In [79]:
info["Sarina"] = 18

In [80]:
info

{'Sarina': 18}

In [81]:
info["Sarina"] = 19

In [82]:
info

{'Sarina': 19}

In [83]:
info.update(
    {"Mahsa": 28,
    "Mohsen": 25,} 

)

In [96]:
info

{'Sarina': 19, 'Mahsa': 28, 'Mohsen': 25}

In [95]:
l = [1, 2, 3, 4]

In [93]:
l.pop()

4

In [94]:
l

[2, 3]

In [97]:
info.popitem()

('Mohsen', 25)

In [98]:
info

{'Sarina': 19, 'Mahsa': 28}

In [99]:
info.clear()

In [100]:
info

{}

In [1]:
print("Hello")

Hello

In [4]:
list_1 = list((1, 2, 3))

In [5]:
list_1

[1, 2, 3]

In [8]:
list_2 = list_1 * 3

In [9]:
list_1

[1, 2, 3]

In [15]:
list_2

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [11]:
1 in list_1

True

In [12]:
20 in list_2

False

In [18]:
list_2.index(2)

1

In [20]:
list_2.count(5)

0

In [21]:
list_1[::-1]

[3, 2, 1]

In [22]:
list_1

[1, 2, 3]

In [23]:
list_1.reverse()

In [24]:
list_1

[3, 2, 1]

In [28]:
list(reversed(list_1))

[1, 2, 3]

In [29]:
list_2.sort()

In [30]:
list_2

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [31]:
t = (1, 2, (3, 4), [5, 6], 'Ali')

In [32]:
t[3][0] = 99

In [33]:
t

(1, 2, (3, 4), [99, 6], 'Ali')

In [34]:
t[2][0] = 100

TypeError: 'tuple' object does not support item assignment

In [36]:
t1 = (21, 4, -5, 6, 90, 11, 17, 65)

In [37]:
sorted(t1)

[-5, 4, 6, 11, 17, 21, 65, 90]

In [31]:
my_dict = dict(Ali=40, Mahsa=31, Sia=28, Elnaz=30)

In [32]:
my_dict

{'Ali': 40, 'Mahsa': 31, 'Sia': 28, 'Elnaz': 30}

In [33]:
my_dict.keys()

dict_keys(['Ali', 'Mahsa', 'Sia', 'Elnaz'])

In [34]:
my_dict.values()

dict_values([40, 31, 28, 30])

In [35]:
my_dict.items()

dict_items([('Ali', 40), ('Mahsa', 31), ('Sia', 28), ('Elnaz', 30)])

In [36]:
my_dict

{'Ali': 40, 'Mahsa': 31, 'Sia': 28, 'Elnaz': 30}

In [37]:
del my_dict

In [38]:
my_dict

NameError: name 'my_dict' is not defined