<img src="./images/composite-data-types-banner.png" width="800">

# Set in Python

What Are Sets? Sets are a data type in Python that store unordered collections of unique items. They are similar to sets in mathematics and are useful when the existence of an item in a collection is more important than the order of items or their frequency.

**Characteristics of Sets:**
- **Unique Elements**: Sets enforce uniqueness; no two elements can be the same. Duplicate items are automatically merged.
- **Mutable**: You can add and remove items from a set.
- **Unordered**: The items in a set do not have a defined order; sets are not sequence data types.
- **Unindexed**: Unlike lists or tuples, sets do not support indexing or slicing.

<img src="./images/set.png" width="600">

**Sets vs. Lists vs. Dictionaries:**
- **Lists** are ordered collections of items which can contain duplicates and support indexing.
- **Dictionaries** hold key-value pairs and are indexed by keys, which must be unique.
- **Sets**, on the other hand, are used when the order is unimportant, and you need to ensure that there are no duplicates in the collection.

**When to Use a Set?**

Use a set when you have a collection of unique items and you want to perform operations like checking for membership, eliminating duplicates from a list, or performing mathematical set operations like unions and intersections.

Sets are particularly useful when dealing with data where the representation of a mathematical set is needed, such as groups, selections, or pool of unique items where it's essential to know whether an item is present or not without caring about the order.

In summary, Python sets are simple yet powerful. Understanding their properties and how they differ from other data types like lists and dictionaries is crucial as it allows you to select the right tool for your data manipulation tasks.

In the coming sections, we'll dive into how to create and manipulate sets and take a closer look at the types of operations that can be performed with them. By the end of these sections, you should have a good grasp of when and how to use sets in your Python programs.

**Table of contents**<a id='toc0_'></a>    
- [Creating Sets in Python](#toc1_)    
  - [Set Creation Syntax](#toc1_1_)    
  - [Creating an Empty Set](#toc1_2_)    
  - [Creating a Set from an Iterable](#toc1_3_)    
  - [Sets from Strings](#toc1_4_)    
  - [Handling Duplicates](#toc1_5_)    
  - [Conclusion](#toc1_6_)    
- [Accessing Set Elements in Python](#toc2_)    
  - [Membership Testing](#toc2_1_) 
  - [Comparing Search Performance: Lists vs. Sets](#toc2_2_)  
  - [Accessing Elements Indirectly](#toc2_3_)    
  - [Conclusion](#toc2_4_)    
- [Adding and Updating Sets in Python](#toc3_)    
  - [Adding Elements to a Set](#toc3_1_)    
  - [The Uniqueness Constraint](#toc3_2_)    
  - [Updating a Set with Multiple Elements](#toc3_3_)    
  - [Duplicates in `.update()`](#toc3_4_)    
  - [Using `|=`](#toc3_5_)    
  - [Conclusion](#toc3_6_)    
- [Removing Items from a Set in Python](#toc4_)    
  - [Using `.remove()` Method](#toc4_1_)    
  - [Using `.discard()` Method](#toc4_2_)    
  - [Using `.pop()` Method](#toc4_3_)    
  - [Clearing a Set](#toc4_4_)    
  - [Conclusion](#toc4_5_)    
- [A Note on Set Elements Limitation](#toc5_)    
- [Summary and Exercise](#toc6_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=2
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_'></a>[Creating Sets in Python](#toc0_)

Creating sets in Python could not be more straightforward. Whether you're starting with a group of elements or an existing iterable, Python's set creation syntax is simple and efficient.

### <a id='toc1_1_'></a>[Set Creation Syntax](#toc0_)

The primary way to create a set is to use curly braces `{}` with comma-separated elements within. Here is a basic example:

In [1]:
my_set = {1, 2, 3, 4, 5}

In this example, `my_set` is a set of integers from 1 to 5.

### <a id='toc1_2_'></a>[Creating an Empty Set](#toc0_)

Curiously, because empty curly braces `{}` are used to define an empty dictionary, sets have their own syntax for an empty set using the `set()` constructor with no arguments:

In [2]:
empty_set = set()

It is important to use the `set()` constructor for creating an empty set because writing `{}` creates an empty dictionary instead.

### <a id='toc1_3_'></a>[Creating a Set from an Iterable](#toc0_)

You can create a set from any iterable, such as a list or a tuple, by passing it to the `set()` constructor. This is particularly useful for removing duplicates from a list, as sets cannot contain duplicate elements:

In [3]:
# Creating a set from a list
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(list_with_duplicates)

In [4]:
unique_set

{1, 2, 3, 4, 5}

After this operation, `unique_set` would be `{1, 2, 3, 4, 5}`, where the duplicates `2` and `4` have been removed automatically.

### <a id='toc1_4_'></a>[Sets from Strings](#toc0_)

Since a string is an iterable of characters, passing a string to the `set()` constructor will produce a set of its characters:

In [5]:
# Creating a set from a string
char_set = set('hello')

In [6]:
char_set

{'e', 'h', 'l', 'o'}

This results in `char_set` being `{'e', 'h', 'l', 'o'}`, where the duplicate 'l' character from the string 'hello' is eliminated.

In [7]:
my_str = "I love learning Python and I will definitely thrive learning it in ML and AI fields"

In [8]:
set(my_str.split())

{'AI',
 'I',
 'ML',
 'Python',
 'and',
 'definitely',
 'fields',
 'in',
 'it',
 'learning',
 'love',
 'thrive',
 'will'}

Using `set()` on the result of `split()` extracts all unique words from the string, removing duplicates.

### <a id='toc1_5_'></a>[Handling Duplicates](#toc0_)

When you create a set, Python automatically removes any duplicate elements:

In [9]:
# Duplicates are automatically removed
duplicate_set = {1, 2, 2, 3, 3, 3}

In [10]:
duplicate_set

{1, 2, 3}

The `duplicate_set` will result in `{1, 2, 3}`, demonstrating that sets cannot have multiple instances of the same element.

### <a id='toc1_6_'></a>[Conclusion](#toc0_)

Creating sets in Python is a task that can be tailored for various contexts, whether you need a blank slate with an empty set, a unique collection from an existing list, or a quick conversion from another iterable type. The simplicity of creating sets and the automatic handling of duplicates make them a valuable addition to any Python programmer's toolkit.

In the coming sections, we'll explore how to access elements in a set and perform a range of modifications to sets, expanding our understanding of this powerful collection type.

## <a id='toc2_'></a>[Accessing Set Elements in Python](#toc0_)

Unlike lists or dictionaries, sets in Python are unordered collections, and hence, they do not support indexing. This means individual elements of a set cannot be accessed using indices like you would with a list. However, sets provide other ways to work with their elements, such as membership testing and iteration.

### <a id='toc2_1_'></a>[Membership Testing](#toc0_)

One of the most common operations you'll perform on a set is to check whether it contains a specific item. This is called membership testing and is done using the `in` keyword.

Here's an example of how you can perform a membership test:

In [11]:
my_set = {1, 2, 3, 4, 5}

In [12]:
# Check if 3 is in the set
3 in my_set

True

In [13]:
# Check if 6 is not in the set
6 not in my_set

True

Both expressions will return boolean values, `True` if the item is in the set and `False` if it is not.

> Remember that because sets are unordered, any time you deal with a set, the concept of "the first element" or "the last element" does not apply as it would with a list or a tuple.

### <a id='toc2_2_'></a>[Comparing Search Performance: Lists vs. Sets](#toc0_)

In this example, we compare the time it takes to search for elements in a Python list and a Python set.  
This highlights why sets are significantly faster than lists when checking for membership.

**Why are sets faster?**  
- **Sets** in Python are implemented using **hash tables**, allowing average O(1) lookup time.  
- **Lists** require O(n) time for lookups, as each element is checked sequentially.  
As the dataset grows, the performance gap between sets and lists becomes much more noticeable.

In [14]:
# Create a list of 1,000,000 integers
my_list = list(range(1_000_000))
print("List length: ", len(my_list))  # Verify length

# Convert the list to a set (for O(1) average lookup time)
my_set = set(my_list)
print("Set length: ", len(my_set))  # Verify length

List length:  1000000
Set length:  1000000

Timing membership test for the first element in the list (O(n) lookup)

In [15]:
%%timeit
0 in my_list

22.2 ns ± 0.00857 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

Timing membership test for the first element in the set (O(1) average lookup)

In [16]:
%%timeit
0 in my_set

27.1 ns ± 0.12 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

Timing membership test for a middle element in the list (still O(n) in worst case)

In [17]:
%%timeit
500_000 in my_list

5.13 ms ± 18 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Timing membership test for a middle element in the set (O(1) average lookup)

In [18]:
%%timeit
500_000 in my_set

38.2 ns ± 0.154 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

Timing membership test for an element not in the list (worst-case O(n))

In [19]:
%%timeit
-1 in my_list

10.2 ms ± 25 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Timing membership test for an element not in the set (O(1) average lookup)

In [20]:
%%timeit
-1 in my_set

27.3 ns ± 0.797 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

### <a id='toc2_3_'></a>[Accessing Elements Indirectly](#toc0_)

While you can’t access set elements by index directly, there are ways to retrieve elements indirectly:

- **Converting a Set to a List**: When order and direct access are needed, and it's okay for the values to have duplicates, you can convert a set to a list:

In [21]:
ordered_elements = list(my_set)
ordered_elements

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

- **Using the `pop()` Method**: This method can remove and return an arbitrary element from the set, but it is not reliable for accessing a known element:

In [22]:
popped_element = my_set.pop()

In [23]:
popped_element

0

### <a id='toc2_4_'></a>[Conclusion](#toc0_)

Sets are designed to be collections without order, which is an essential feature when considering set performance and typical use cases such as membership testing and deduplication. To work with individual elements, you'll use iteration and membership testing instead of direct access as you would with lists or dictionaries.

In the next section, we'll look at how to modify the contents of sets by adding, updating, and removing elements, allowing for dynamic and efficient set manipulation.

## <a id='toc3_'></a>[Adding and Updating Sets in Python](#toc0_)

While sets do not support indexing, which eliminates any direct assignment of values like in a list, you can add or update a set’s contents using built-in methods. Let's explore how to introduce new elements to a set and how to combine another collection with an existing set.

### <a id='toc3_1_'></a>[Adding Elements to a Set](#toc0_)

To add a single element to a set, use the `.add()` method, which takes a single argument and adds that element to the set if it is not already present:

In [24]:
my_set = {1, 2, 3}

In [25]:
# Adding an element to the set
my_set.add(4)
my_set

{1, 2, 3, 4}

After this operation, `my_set` will be `{1, 2, 3, 4}`.

### <a id='toc3_2_'></a>[The Uniqueness Constraint](#toc0_)

The highlight of sets is that they contain unique items—no duplicates. If an attempt is made to add a duplicate element with `.add()`, the set remains unchanged:

In [26]:
# Attempting to add a duplicate element
my_set.add(2)

In [27]:
my_set

{1, 2, 3, 4}

The set will still be `{1, 2, 3, 4}` even after trying to add the duplicate `2`.

### <a id='toc3_3_'></a>[Updating a Set with Multiple Elements](#toc0_)

If you have multiple new elements to add—not just one—you can use the `.update()` method. The `.update()` method can take tuples, lists, strings, or even other sets, and add all their elements to the original set:

In [28]:
# Using update with a list
my_set.update([5, 6])
my_set

{1, 2, 3, 4, 5, 6}

In [29]:
# Using update with another set
another_set = {6, 7, 8}
my_set.update(another_set)
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

Both `.add()` and `.update()` modify the set in place, meaning they don't create a new set but change the existing one.

### <a id='toc3_4_'></a>[Duplicates in `.update()`](#toc0_)

Just like with `.add()`, if any of the elements provided to `.update()` are duplicates, they will be ignored, and only unique elements will be added:

In [30]:
# Adding duplicates to the set with update
my_set.update([5, 5, 6, 7])
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In the above code snippet, only the first occurrence of `5` and `6` need to be considered since `5` and `6` are already in the set.

### <a id='toc3_5_'></a>[Using `|=`](#toc0_)

Python also provides the union assignment operator `|=` which can be used in place of the `.update()` method:

In [31]:
# Using |= operator with a list
my_set |= {9, 10}
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

This operation will result in the set being `{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}`.

### <a id='toc3_6_'></a>[Conclusion](#toc0_)

The methods `.add()` and `.update()` provide a way to dynamically grow a set. They preserve the set's defining property – uniqueness of its elements – automatically preventing duplicate entries. As such, sets can be very convenient when you deal with unsorted unique data, need to ensure no duplicates, or efficiently manage groups of items in your Python programs.

In the following sections, we'll learn how to remove items from a set, perform various set operations, and understand the real-world scenarios where sets shine the most.

## <a id='toc4_'></a>[Removing Items from a Set in Python](#toc0_)

In Python, sets not only allow you to add elements but also to remove them in different ways. This can be helpful when you are working with dynamic collections where items need to be excluded based on certain conditions or user actions. Let's explore the methodologies provided by Python to remove elements from sets.

### <a id='toc4_1_'></a>[Using `.remove()` Method](#toc0_)

To remove a specific element from a set, you can use the `.remove()` method and pass the value you wish to remove as an argument. If the element is present in the set, the `.remove()` method removes it:

In [32]:
my_set = {1, 2, 3, 4, 5}

In [33]:
# Remove the element 3 from the set
my_set.remove(3)
my_set

{1, 2, 4, 5}

After this operation, `my_set` will be `{1, 2, 4, 5}`.

However, if the specified element doesn’t exist in the set, `.remove()` will raise a `KeyError`:

In [34]:
my_set.remove(6)  # This will raise a KeyError

KeyError: 6

### <a id='toc4_2_'></a>[Using `.discard()` Method](#toc0_)

`.discard()` is similar to `.remove()` but does not raise an error if the element is not present in the set. It's a "safe remove" method, so to speak:

In [35]:
# Discard the element 2 from the set
my_set.discard(2)
my_set

{1, 4, 5}

In [36]:
# Attempt to discard an element not present in the set
my_set.discard(6)  # No error is raised
my_set

{1, 4, 5}

The `.discard()` method allows for attempts to remove elements without the need to check for their presence first or to handle potential exceptions.

### <a id='toc4_3_'></a>[Using `.pop()` Method](#toc0_)

The `.pop()` method removes and returns an arbitrary element from the set. As sets are unordered, you cannot determine which element will be popped, making this method somewhat unpredictable:

In [37]:
# Pop an arbitrary element from the set
popped_element = my_set.pop()

If the set is empty, calling `.pop()` will raise a `KeyError`.

### <a id='toc4_4_'></a>[Clearing a Set](#toc0_)

If you want to remove all items from a set, you can use the `.clear()` method, which empties the set:

In [38]:
my_set.clear()
my_set

set()

Now `my_set` is an empty set `{}`.

In [39]:
dir(my_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### <a id='toc4_5_'></a>[Conclusion](#toc0_)

When it comes to removing elements from sets, Python offers flexible options. You can use `.remove()` for when you're certain the element exists, `.discard()` to avoid errors if the element might not be present, or `.pop()` if you simply need to remove any element. Additionally, `.clear()` is useful when you need to reset the set entirely.

These methods help maintain the dynamic nature of sets, allowing programmers to easily add and remove elements as needed while enforcing uniqueness among the items.

## <a id='toc5_'></a>[A Note on Set Elements Limitation](#toc0_)

Here’s a more concise and polished revision of your attached notes:


---

A Note on Set Element Limitations

Set elements in Python must be immutable (unchangeable) types. This means you cannot include mutable objects—such as lists or other dictionaries—inside a set. However, you can use tuples in a set, provided that the tuple itself contains only immutable elements.

This requirement exists because immutable objects are hashable, while mutable objects (like lists) are not. Sets (and dictionaries) store their elements using hash tables, which rely on the hash value of each element for efficient lookups. Only hashable (immutable) objects can be stored this way.

This is the same reason dictionary keys must also be immutable and hashable.

In [40]:
s = {[1, 2, 3], 4, 5}

TypeError: unhashable type: 'list'

Here, [1, 2, 3] is a list—a mutable type—so it cannot be added to a set.

But the following code snippet will work because tuples are immutable and hashable:

In [41]:
s = {(1, 2, 3), 4, 5}

<img src="../images/exercise-banner.gif" width="800">

## <a id='toc6_'></a>[Practice Exercise](#toc0_)

In today's lecture, we embarked on our journey into the world of Python sets. We established the foundational knowledge required to work with this unique and powerful data type.

Here’s what we covered:

- We defined what sets are in Python and highlighted their key characteristics: unordered, mutable, and no duplicate elements.
- We distinguished sets from other data types like lists and dictionaries and discussed the scenarios in which sets are particularly useful.
- We walked through creating sets using literal syntax with curly braces `{}` and the `set()` constructor, as well as converting other iterables to sets.
- We discussed the crucial aspect of set uniqueness and how attempting to add duplicate elements to a set does not change its composition.
- We demonstrated how to add elements to a set using `.add()` and how to add multiple elements from any iterable using `.update()`.
- We learned how to remove elements using `.remove()`, `.discard()`, and `.pop()`, as well as how to clear a set with `.clear()`.

By now, you should feel comfortable creating sets, adding or removing items, and performing basic checks for membership.

Let's put into practice what we've learned about Python sets. The following exercises are designed to help you reinforce your understanding of set creation, manipulation, and the innate handling of unique items within sets.

- **Exercise 1:** Set Creation and Membership

Create a set named `colors` that contains the colors 'red', 'green', 'blue', and 'yellow'. Verify if 'purple' is in the `colors` set. Add 'purple' to the set and check again.

In [42]:
colors = {'red', 'green', 'blue', 'yellow'}
'purple' in colors

False

In [43]:
colors.add('purple')
'purple' in colors

True

- **Exercise 2:** Unique Elements

Given the list `numbers_list = [1, 2, 3, 4, 3, 2, 1, 5, 6, 5, 4]`, create a set named `unique_numbers` from this list. Determine how many unique numbers are in `numbers_list` by checking the size of `unique_numbers`.

In [44]:
number_list = [1, 2, 3, 4, 3, 2, 1, 5, 6, 5, 4]
unique_numbers = set(number_list)
len(unique_numbers)

6

- **Exercise 3:** Adding Multiple Elements

You have a set `flavors` containing 'chocolate', 'vanilla', and 'strawberry'. Update `flavors` to include 'mint' and 'bubble gum' using a single command.

In [45]:
flavors = {'chocolate', 'vanilla', 'strawberry'}
flavors.update(['mint', 'bubble gum'])
flavors

{'bubble gum', 'chocolate', 'mint', 'strawberry', 'vanilla'}

- **Exercise 4:** Removing Elements

There is a set `tools` with elements 'hammer', 'wrench', 'screwdriver', and 'pliers'. Remove 'wrench' from `tools` using `.remove()`. Then, using `.discard()`, attempt to remove 'saw' from `tools`.

In [46]:
tools ={'hammer', 'wrench', 'screwdriver', 'pliers'}
tools.remove('wrench')
tools

{'hammer', 'pliers', 'screwdriver'}

In [47]:
tools.discard('saw')
tools

{'hammer', 'pliers', 'screwdriver'}

- **Exercise 5:** Safe Element Removal

Create a set `planets` including 'earth', 'jupiter', and 'mars'. Safely remove 'venus' from the set `planets` using a method that will not raise an error even if the item does not exist.

In [48]:
planets = {'earth', 'jupiter', 'mars'}
planets.discard('venus')
planets

{'earth', 'jupiter', 'mars'}

- **Exercise 6:** Clearing a Set

Take the `planets` set and clear all of its elements, ensuring that it is emptied completely.

In [49]:
planets.clear()
planets

set()